<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Groups</title> 
</head>
<body>
  <header th:insert="~{blocks/header::header}"></header>
  <main>
  <div class="container mt-5 mb-5">
    <h1>Add group</h1>
    <form action="/groups/add"  method="post">
      <input type="text" name="name" placeholder="Enter name of group" class="form-control" required><br>
      <button type="submit" class="btn btn-success ">Add group</button>
    </form>
  </div>
  </main>
  <footer th:insert="~{blocks/footer::footer}"></footer>

</body>
</html>

